* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    margin-top: 47px;
    margin-left: 42px;

}



.link-header {
    color: #17233D;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.875;
    cursor: pointer;
    margin-right: 32px;
    padding: 11px;
    text-shadow: 3px 5px 15px black;

}


.b-1 {
    cursor: pointer;
    border: none;
    background: #6FBF44;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.logo-image {

    margin: 163px 0 0 334px;
    display: inline-block;



}

section {


    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {

    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154;
    color: #161A49;
    text-shadow: 3px 5px 15px black;


}

.p-1 {
    font-weight: 400;
    color: #4B505A;
    font-size: 18px;
    line-height: 33px;
    margin-top: 47px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;


}

.b-2 {
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px;
    line-height: 27%;
    cursor: pointer;
    background: transparent;
    border: none;
}



@media screen and (max-width:900px) {







    h1 {
        font-size: 35px;
        line-height: 30px;
        text-align: center;
        width: 278px;
        height: 60px;
        margin-left: 68px;
        margin-top: 104px;
        display: inline-block;
    }




    .p-1 {
        width: 429px;
        height: 165px;
        font-size: 20px;
        line-height: 33px;
        display: block;
        margin-left: 0%;
        margin-top: 145px;
    }


    .logo-image {


        position: absolute;
        height: 288;
        margin-top: 716px;
        width: 422px;
        margin-left: 88px;
        display: block;

    }



    section {
        display: block;
        height: auto
    }





    .b-2 {
        display: block;
        margin-left: 30%;
        margin-top: 105px;
        font-size: 27px;
    }




    .b-1 {

        width: 92px;
        height: 42px;
        font-size: 14px;
        margin-left: 106%;
        display: block;
        margin-top: -34px;
        line-height: 152%;
    }

    .link-header{
        display: none;
    }


























}