* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad {
    height: 350px;
    width: 350px;
    background: rgb(93, 0, 255);
}

.div-son {
    width: 150px;
    height: 150px;
    background: rgb(217, 94, 204);

}

.div-filho{
width: 100px;
height: 100px;
background: blue;

}